<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SecurityToken" value="CldZuzzsDJMWFfFNw0jAVFw5C" />
    <add key="ConsumerKey" value="3MVG9rFJvQRVOvk4CV3zOD5uZ5azKQ3AM4GnOhBQCYFFSGykyb7DS7mKbjm84BPqQJUpnz8Bxw0ufFxmC8_DW" />
    <add key="ConsumerSecret" value="1362812720278752184" />
    <add key="Username" value="markmasterson@gmail.com" />
    <add key="Password" value="SForce2014!" />

    <!--set to true to point  ToolingConole at a Sandbox environment-->
    <add key="IsSandboxUser" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>